/* Основний колір текста #212121 */
/* Додатковий колір текста #757575 */
/* Білий колір текста #FFFFFF */
/* другий білий колір rgba(255, 255, 255, 0.6) */
/* Колір акцента #2196F3 */
/* основний колір фона #FFFFFF */
/* додатковий колір фона #F5F4FA */
/* колір фона шапки #FFFFFF */
/* колір фона футера #2F303A */
/* колір логотипу 1-частина #2196F3, 2-частина #000000 */
/* колір кнопки #F5F4FA */
/* колір акцента кнопки #2196F3 */
/* background-color hero  #C4C4C4; */
/* колір фону іконок 2 секція #F5F4FA */
/* колір шконок #afb1b8 */

/* ПОРТФОЛІО */

:root {
  --primary-font-color: #212121;
  --secondary-font-color: #757575;
  --wite-text-color: #ffffff;
  --button-color: #f5f4fa;
  --button-accent-color: #2196f3;
  --accent-color: #2196f3;
  --icon-color: #afb1b8;
  --card-set-gap: 30px;
}
/* Основні властивості, які наслідуються у тілі сторінки */
body {
  font-family: Roboto, sans-serif;
  color: var(--primary-font-color);
  background-color: #ffffff;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* header */
.header {
  padding-top: 24px;
  padding-bottom: 25px;

  background-color: #ffffff;

  border-bottom: 1px solid #ececec;
}

.navigator {
  display: flex;
  align-items: center;
}

.box {
  display: flex;
  align-items: center;
}

/* навігація по сторінці */

.logo {
  margin-right: 93px;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: #000000;
}

.logo-color {
  color: #2196f3;
}

.link-studio {
  position: relative;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: #2196f3;
}

.link-studio::after {
  content: '';

  position: absolute;
  left: 0;
  top: 46px;

  display: block;
  width: 100%;
  height: 4px;

  background-color: #2196f3;
  border-radius: 2px;
}

.link-portfolio,
.link-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--primary-font-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-studio:hover,
.link-studio:focus,
.link-portfolio:hover,
.link-portfolio:focus,
.link-contacts:hover,
.link-contacts:focus {
  color: var(--accent-color);
}

.link {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.link-page:not(:last-child) {
  margin-right: 50px;
}

/* контакти */

.mail-tel {
  display: flex;

  padding: 0;
  margin: 0 0 0 auto;

  align-items: center;
}

.mail-tel .mail,
.mail-tel .tel {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--secondary-font-color);
  fill: var(--secondary-font-color);

  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.icon-mail {
  margin-right: 10px;
  fill: inherit;
}

.link,
.mail-tel {
  list-style: none;
}

.mail-tel-link:not(:last-child) {
  margin-right: 50px;
}

/* main */

/* Герой Секція 1*/ /* Тимчасовий фон для героя, щоб було видно текст */
.hero {
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  background-color: #2f303a;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/background-image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 696px;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--wite-text-color);
}

.hero-button {
  display: block;
  min-height: 50px;
  min-width: 200px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--wite-text-color);
  background-color: #2196f3;
  cursor: pointer;

  border-radius: 4px;
  border-color: transparent;
}

/*--------------------- Модальне вікно---------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  border-radius: 50%;

  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover,
.close-modal:focus {
  fill: var(--accent-color);
}

/* -----------------------ФОРМА------------------------- */
.form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.form-title {
  margin-top: 0;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.textarea {
  resize: none;
}

.label {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--secondary-font-color);
}

.label-terms {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-font-color);
}

.label-terms a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.input-terms {
  width: 16px;
  height: 15px;
  margin-right: 8px;

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-icon {
  width: 15px;
  height: 15px;

  margin-right: 8px;

  border: 1px solid var(--primary-font-color);
  border-radius: 2px;
}

.input-terms:checked + .check-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url('../images/icon-svg/check-icon.svg');
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
}

.input-terms:focus + .check-icon {
  border-color: var(--accent-color);
}

.input {
  width: 448px;
  height: 40px;
  padding: 11px 12px 11px 42px;
  margin-bottom: 10px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:hover,
.input:focus-within {
  border-color: var(--accent-color);
}

.box-user-name,
.box-phone-number,
.box-email {
  position: relative;
}

.user-name-icon,
.phone-number-icon,
.email-icon {
  position: absolute;
  left: 12px;
  top: 11px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:hover + .user-name-icon,
.input:focus-within + .user-name-icon {
  fill: var(--accent-color);
}

.input:hover + .phone-number-icon,
.input:focus-within + .phone-number-icon {
  fill: var(--accent-color);
}

.input:hover + .email-icon,
.input:focus-within + .email-icon {
  fill: var(--accent-color);
}

.textarea {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:hover,
.textarea:focus-within {
  border-color: var(--accent-color);
}

.textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.button-submit {
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;

  color: var(--wite-text-color);
  background-color: var(--button-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit:hover,
.button-submit:focus {
  background-color: #188ce8;
}

/* Секція 2 */

.work {
  padding-top: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.work-benefits {
  /* padding-top: 30px; */
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.work-text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-font-color);
}
.work-list {
  display: flex;
  flex-wrap: wrap;

  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

.work-skill {
  flex-basis: calc((100% - 90px) / 4);
  margin-right: var(--card-set-gap);
}

.work-skill:nth-child(4n) {
  margin-right: 0;
}

.icon-work {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 270px;
  height: 120px;

  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

/* Секція 3 */

.technology {
  padding-top: 94px;
  padding-bottom: 94px;
}

.technology-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.technology-list {
  display: flex;

  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

.technology-product {
  flex-basis: calc((100% - 60px / 3));
  margin-right: var(--card-set-gap);
}

.technology-product:nth-child(3n) {
  margin-right: 0;
}

.card {
  display: block;
  max-width: 100%;
}

/* Секція 4 */
.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: #f5f4fa;
}

.team-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-name {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-profession {
  margin-top: 0;
  margin-bottom: 16px;

  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-font-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

.team-specialist {
  flex-basis: calc((100% - 90px) / 4);
  margin-right: var(--card-set-gap);

  background-color: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 0px 0px 4px 4px;
  border-color: transparent;
}

.team-specialist:nth-child(4n) {
  margin-right: 0;
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.link-list {
  display: flex;
  justify-content: center;

  padding-left: 0px;

  list-style: none;
}

.social-link {
  display: block;
  height: 44px;
  width: 44px;
  padding: 12px;
  border-radius: 50%;
  fill: var(--icon-color);

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-item:not(:last-child) {
  margin-right: 10px;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  fill: var(--wite-text-color);
}

/* Секція 5 */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

.clients-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-font-color);
}

.clients-link {
  display: block;
  padding: 16px 32px;
  width: 170px;
  height: 92px;

  flex-basis: calc((100% - 150px) / 6);

  border: 1px solid var(--icon-color);
  border-radius: 4px;

  fill: var(--icon-color);

  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

/* Підвал */
.contacts {
  background-color: #2f303a;
}

.contacts-list {
  list-style: none;
}
/* Логотип наслідує властивості, задані логотипу у шапці */

.contacts {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo.footer {
  margin-right: 0;
  display: block;
  margin-bottom: 20px;

  color: var(--wite-text-color);
}

.contacts-list {
  margin: 0;
  padding-left: 0;
}

.list-address:not(:last-child) {
  margin-bottom: 9px;
}

.contacts > .logo {
  color: #ffffff;
}

.contacts-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--wite-text-color);
}
.contacts-mail,
.contacts-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: rgba(255, 255, 255, 0.6);
}

.address {
  font-style: normal;
}
/*---------Підвал------- Посилання на соцмережі---------------*/
.links-footer {
  margin-right: 93px;
}

.links-paragraph {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--wite-text-color);
}

.footer-list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

.footer-link {
  display: block;
  padding: 12px;
  width: 44px;
  height: 44px;

  flex-basis: calc((100% - 30px) / 4);

  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--wite-text-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-color);
}

.footer-item:not(:last-child) {
  margin-right: 10px;
}

.contacts > .container.footer {
  display: flex;
  align-items: baseline;
}

.address-footer {
  margin-right: 70px;
}

/* -------------------Підвал----- Форма підписки на розсилку----------- */

.mailing-title {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--wite-text-color);
}
.box-mailing {
  display: flex;
  align-items: flex-end;
}

.mailing-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
  border-radius: 4px;

  background-color: inherit;
  color: var(--wite-text-color);
}

.mailing-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.mailing-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;
  padding: 10px 28px;

  font-family: inherit;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--wite-text-color);

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
}

.mailing-icon {
  margin-left: 10px;
}

/* ПОРТФОЛІО */
/* Шапка */
/* Фон шапки наслідується з CSS правила щодо шапки першої сторнінки. */
/* Логтип наслідує властивості з CSS правила щодо Логотипу першої сторнінки.*/
.nav-portfolio {
  position: relative;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: #2196f3;
}

.nav-portfolio::after {
  content: '';

  position: absolute;
  left: 0;
  top: 46px;

  display: block;
  width: 100%;
  height: 4px;

  background-color: #2196f3;
  border-radius: 2px;
}

.nav-stdio,
.nav-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--primary-font-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-stdio:hover,
.nav-stdio:focus,
.nav-contacts:hover,
.nav-contacts:focus {
  color: var(--accent-color);
}

.nav {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

/* Властивості посилання мейлу та телефону наслідуються з CSS правила першої сторнінки.*/

/* main */
/* Герой Секція */
/* Колір фону наслідується з CSS правила першої сторнінки.*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filtres {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-library,
.button-websites,
.button-applications,
.button-design,
.button-marketing {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-font-color);
  background-color: var(--button-color);

  border-radius: 4px;
  border-color: transparent;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}

.button-library:hover,
.button-websites:hover,
.button-applications:hover,
.button-design:hover,
.button-marketing:hover,
.button-library:focus,
.button-websites:focus,
.button-applications:focus,
.button-design:focus,
.button-marketing:focus {
  color: var(--wite-text-color);
  background-color: var(--button-accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button {
  display: flex;
  justify-content: center;

  padding-left: 0;
  margin-top: 0;
  margin-bottom: 50px;

  list-style: none;
}

.btn-list:not(:last-child) {
  margin-right: 8px;
}

.projects-title {
  margin-top: 0;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-font-color);
}
.projects-text {
  margin-top: 0;
  margin-bottom: 0;

  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--secondary-font-color);
}

.projects-name {
  padding: 20px 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.projects-page {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);

  cursor: pointer;
}

.projects-page:nth-child(3n) {
  margin-right: 0;
}

.projects-page:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card-link {
  display: block;
  text-decoration: none;

  transition-property: box-shadow, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.card-text {
  position: absolute;

  top: 0;
  left: 0;

  transform: translateY(100%);

  padding: 63px 24px;
  margin: 0;

  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;

  color: var(--wite-text-color);
  background-color: rgba(33, 150, 243, 0.9);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover .card-text,
.card-link:focus .card-text {
  transform: translateY(0%);
}

/* Підвал */
/* Фон та колір наслідується з CSS правила щодо Підвалу першої сторнінки. */
/* Контакти наслідують властивості текста та шрифта з CSS правила щодо Підвалу першої сторнінки.*/ ;
